.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

.capitalise
{
    text-transform:capitalize;
}

.botton-padding{
	padding-bottom: 20px;
}

.table-condensed{
  font-size: 13px;
}